echo opencv-python==4.8.1.78 > requirements.txt
echo opencv-contrib-python==4.8.1.78 >> requirements.txt
echo numpy==1.24.3 >> requirements.txt
echo pandas==2.0.3 >> requirements.txt
echo Pillow==10.0.0 >> requirements.txt
echo matplotlib==3.7.2 >> requirements.txt
echo sqlalchemy==2.0.19 >> requirements.txt
echo PyQt5==5.15.9 >> requirements.txt
echo deepface==0.0.99 >> requirements.txt